/* Colors */
$primary-color-soft-orange: hsl(35, 77%, 62%);
$primary-color-sift-red: hsl(5, 85%, 63%);
$off-white-color:hsl(36, 100%, 99%);
$grayish-blue-color:hsl(233, 8%, 79%);
$dark-grayish-blue-color:hsl(236, 13%, 42%);
$very-dark-blue: hsl(240, 100%, 5%); 

/* Base style */

*, html, body {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

h1 {
    margin:0 0 0 0;
    font-size: 3rem;
    color: $very-dark-blue;
}

p {
    font-size: 15px;
    color:$dark-grayish-blue-color;
    line-height: 1.75;
    margin-bottom: 1rem;
}

.btn {
    text-transform: uppercase;
    color: $off-white-color;
    background-color: $primary-color-sift-red;
    letter-spacing: 3px;
    padding:1em 2em;
    border: none;
    text-decoration: none;
    display: inline-block;
    text-align: center;

    a:hover {
        background-color: $very-dark-blue;
        cursor: pointer;
    }
}

.overlay {
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.5);
    position:absolute;
}

.site-wrapper {
    flex: 1 0 auto;

    .site-header {
        position: relative;
        display: flex;
        
        justify-content: space-between;

        .logotype-wrapper {
            padding:1em;
            #site-header--logotype {
                width: 50px;
                height: auto;  
            }
        }
        
        .menu {
            position: absolute;
            right:0;
            top:0;
            bottom: 0;
            width: 70vw;
            height: 100vh;
            background-color: #fff;
            z-index: 100;
            display: none;
            align-items: center;

            @media (min-width: 600px) {
                display: flex;
                position:static;
                width: auto;
                height: auto;
                margin-right: 1em;
            }

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap:2em;

                @media (min-width: 600px) {
                    flex-direction: row;
                }

                li {
                    
                    a {
                        font-size: 1.4rem;
                        text-decoration: none;
                        color: #000;
                        @media (min-width: 600px) {
                            font-size: 1rem;
                            color: $dark-grayish-blue-color;
                        }
                    }
                }
            }
            
        }

        #site-header--nav-icon {
            position: absolute;
            right: 1em;
            top: 23px;
            z-index: 200;

            @media (min-width: 600px) {
                display: none;
            }
        }
    }

    .main-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap:3em;

        @media (min-width: 600px) {
            grid-template-columns: repeat(3, 1fr);
            gap:3em;
        }
        margin-inline: 1em;
    

        .hero {
            display: flex;
            flex-direction: column;
            
            
            #hero-image {
                width: 100%;
                min-height: 350px;
                background-image: url("../assets/images/image-web-3-mobile.jpg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                

                @media (min-width: 600px) {
                    background-image: url("../assets/images/image-web-3-desktop.jpg"); 
                }
            }
            .hero-article {
                flex: 1;
                padding: 1em 0;
                display: flex;
                flex-direction: column;

                @media (min-width: 600px) {
                  flex-direction: row;
                  gap:1em;
                  padding:1em 0 0 0;  
                }
                h1 {
                    flex: 1;
                }
                .text-wrapper {
                    flex:1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }



            }

            @media (min-width: 600px) {
                grid-column: 1/3;
            }

        }


        .new-news {
            grid-column: 1/-1;
            padding:1em;
            background-color: $very-dark-blue;
            color: $off-white-color;
            
            h2 {
                color:$primary-color-soft-orange;
                margin-bottom: 0;
            }

            h3 {
                color: $off-white-color;
                
            }

            .new-news--item {
                border-bottom: 1px solid $grayish-blue-color;
                p {
                    color:$grayish-blue-color;
                }
                padding: 1em 0;
                &:last-child {
                    border-bottom:none;
                }
            }

            @media (min-width: 600px) {
                flex-direction: row;
                grid-column: 3 /-1;
            }

        }

        .top-news {
            grid-column: 1/-1;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap:1em;
            @media (min-width: 600px) {
                gap:3em;
                grid-template-columns: repeat(3,1fr);
                grid-template-rows: repeat(2,1fr);
            }

            .top-news--article {
                flex:auto;
                display: grid;
                gap:1em;
                grid-template-columns: repeat(3,1fr);

                /* grid-template-columns: repeat(3, 1fr); */
                
                .img-wrapper {
                    grid-column: 1/2;

                    img {
                        
                
                    }

                    @media (min-width:600px) {
                        grid-row: 1/-1;
                    }
                }

                .text-wrapper {
                    grid-column:2/-1;
                    
                    
                    h3 {
                        color:$grayish-blue-color;
                        font-size: 2rem;
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                }
            }

        }
    }
    
}

/* Footer */

.site-footer {
    padding:3em 2em;
    flex-shrink: 0; 
    font-size: 11px; 
    text-align: center; 
    a {
        color: hsl(228, 45%, 44%);
    }
}